:root {
  --color-white: #fff;
  --color-lightaqua: #f5f4fa;
  --color-lightgray: #afb1b8;
  --color-gray: #757575;
  --color-blue: #2196f3;
  --color-darkgray: #2f303a;
  --color-dark: #212121;
  --color-black: #000;
}
